@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  color: #2C3E50;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.row { width: 100%; display: table; table-layout: fixed; height: 33.3%; }
.col { display: table-cell; }

.last-row {
  height: calc(33.3% + 1px);
}

.small-row {
  height: 8%;
  font-size: 4vh;
}

.top-row, .bottom-row {
  background-color: #34495E;
}

.top-row {
  position: absolute;
  top: -100px;
  z-index: 1000;
  transition: top 0.5s ease;
}

.cell {
  text-align: center;
  position: relative;
  vertical-align: middle;
  height: 100%;
}

.cell:after, .timestamp {
  position: absolute;
  color: #687581;
  font-size: 4vw;
}

.cell:after {
  top: 0px;
  left: 0px;
  content: attr(title);
}


#sensebox {
  background-color: #66BB6A;
}

#tmps_out {
  background-color: #29B6F6;
}

#tmps_in1 {
  background-color: #F5B629;
}

#tmps_in2 {
  background-color: #F1C40F;
}

#tmps_in0 {
  background-color: #FFB74D;
}

#tmps_in3 {
  background-color: #FFA74D;
}

#kli {
  background-color: #3498DB;
}


.temp {
  font-size: 18vw;
  margin: 0px
}

.timestamp {
  bottom: 0px;
  right: 0px;
}

.loading {
 	animation-name: pulse;
 	animation-duration: 1s;
 	animation-iteration-count: infinite;
 	animation-timing-function: ease-out;
 	animation-fill-mode: forwards;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(.9); }
    100% { transform: scale(1); }
}

#fullscreenbtn, #thetime {
  color: #ecf0f1;
  margin: auto;
}

.show-fullscreen {
  display: none;
}

:-webkit-full-screen .show-fullscreen {
  //display: flex;
  display: table;
}

:-webkit-full-screen .small-row {
  height: 8% !important;
}

:-webkit-full-screen .hide-fullscreen {
  display: none;
}

:-moz-full-screen .hide-fullscreen {
  display: none;
}

:fullscreen .hide-fullscreen {
  display: none;
}

:-webkit-full-screen .row {
  height: 46%;
}

:-moz-full-screen .row {
  height: 46%;
}

:fullscreen .row {
  height: 46%;
}

.visible {
  top: 0px !important;
  transition: top 0.5s ease;
}
