@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  color: #2C3E50;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  
}

.row {
  display: flex;
  height: 50%

}

.cell {
  flex: 1;
  text-align: center;
  position: relative;
}

#living {
  background-color: #F1C40F;
}

#out {
  background-color: #2ECC71;
}

#dmth {
  background-color: #E67E22;
}

#kli {
  background-color: #3498DB;
}

.temp {
  font-size: 72px;
  margin: 0px
}

.time {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #6C7A89;
  font-size: 10px;
}


