@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  color: #2C3E50;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  height: 46%; //50%;
}

.small-row {
  height: 8%;
  font-size: 4vh;
}

.smaller-row {
  height: 4%;
}

.top-row, .bottom-row {
  background-color: #34495E;
}

.cell {
  flex: 1;
  text-align: center;
  position: relative;
}

.cell:after, .timestamp {
  position: absolute;
  color: #687581;
  font-size: 4vw;
}

.cell:after {
  top: 0px;
  left: 0px;
  content: attr(title);
}

#tmps_in0 {
  background-color: #F1C40F;
}

#tmps_out {
  background-color: #2ECC71;
}

#tmps_in1 {
  background-color: #E67E22;
}

#tmps_in2 {
  background-color: #73B9DC;
}

#kli {
  background-color: #3498DB;
}

.temp {
  font-size: 18vw;
  line-height: 40vh;
  margin: 0px
}

.timestamp {
  bottom: 0px;
  right: 0px;
}

.loading {
 	animation-name: pulse;
 	animation-duration: 1s;
 	animation-iteration-count: infinite;
 	animation-timing-function: ease-out;
 	animation-fill-mode: forwards;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(.9); }
    100% { transform: scale(1); }
}

#fullscreenbtn, #thetime {
  color: #ecf0f1;
  margin: auto;
}

.show-fullscreen {
  display: none;
}

:-webkit-full-screen .show-fullscreen {
  display: flex;
}

:-webkit-full-screen .smaller-row {
  height: 4% !important;
}

:-webkit-full-screen .small-row {
  height: 8% !important;
}

:-webkit-full-screen .hide-fullscreen {
  display: none;
}

:-moz-full-screen .hide-fullscreen {
  display: none;
}

:fullscreen .hide-fullscreen {
  display: none;
}

:-webkit-full-screen .row {
  height: 46%;
}

:-moz-full-screen .row {
  height: 46%;
}

:fullscreen .row {
  height: 46%;
}
